# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.so
*.pyd
*.pyo

# Virtual environments
.venv/
env/
venv/
ENV/
*.env

# Secrets
.env
*.key
*.pem

# Config & local files
config.yaml
*.log
*.sqlite3
*.db
.DS_Store

# VSCode / IDE
.vscode/
.idea/

# Render / Deployment
*.render.yaml.local
